argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.5
bs4==0.0.1
catalogue==2.0.6
certifi==2020.12.5
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
contextvars==2.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.23
d2l==0.17.0
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
DBUtils==3.0.0
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
et-xmlfile==1.1.0
Flask @ file:///tmp/build/80754af9/flask_1634118196080/work
gensim==4.1.2
hanlp-downloader==0.0.25
idna==3.3
immutables==0.16
importlib-metadata==4.8.2
ipykernel==5.5.6
ipython==7.16.2
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi==0.17.2
jieba==0.42.1
Jinja2==3.0.3
joblib==1.1.0
JPype1==0.7.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
kiwisolver==1.3.1
langcodes==3.3.0
lxml==4.6.4
MarkupSafe @ file:///C:/ci/markupsafe_1621528313524/work
matplotlib==3.3.4
mistune==0.8.4
murmurhash==1.0.6
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
neobolt==1.7.17
neotime==1.7.4
nest-asyncio==1.5.4
nltk==3.6.5
notebook==6.4.6
numpy @ file:///D:/bld/numpy_1626682185159/work
olefile==0.46
openpyxl==3.0.9
packaging==21.2
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pathy==0.6.1
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1617386325740/work
preshed==3.0.6
prettytable==2.4.0
prometheus-client==0.12.0
prompt-toolkit==2.0.10
py2neo==4.3.0
pyahocorasick==1.4.2
pycparser==2.21
pydantic==1.8.2
pyecharts==1.9.0
Pygments==2.10.0
pyhanlp==0.1.79
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
python-crfsuite==0.9.7
python-dateutil==2.8.2
pytz==2021.3
pywin32==302
pywinpty==1.1.6
pyzmq==22.3.0
qtconsole==5.2.1
QtPy==1.11.3
regex==2021.11.10
requests==2.26.0
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.0
simplejson==3.17.5
six==1.16.0
sklearn==0.0
sklearn-crfsuite==0.3.6
smart-open==5.2.1
snownlp==0.12.3
soupsieve==2.2.1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
tabulate==0.8.9
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==3.0.0
torch==1.10.0
torchaudio==0.10.0
torchtext==0.11.0
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typer==0.4.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.24.3
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug @ file:///tmp/build/80754af9/werkzeug_1635505089296/work
widgetsnbextension==3.5.2
wincertstore==0.2
xlrd==1.2.0
XlsxWriter==3.0.2
xlutils==2.0.0
xlwt==1.3.0
zhon==1.1.5
zipp==3.6.0
