<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看所有诗人的诗集</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/js/template/look_all_poem_desty.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    #poem_card{
        width: 150px;
        height: 30px;
        float: left;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15" style="background-color: white">
        <div class="layui-col-md12" style="background-color: white">
            <div class="layui-panel" id="all_poem">
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="/tz_look_poem_desty/李白">#}
{#                    <div class="layui-col-md2" style="margin: 10px 10px 10px 10px">#}
{#                    <span style="font-family:华文楷体;font-size: 16px">李白</span>#}
{#                    <span style="font-size: 12px">（1044）</span>#}
{#                    </div>#}
{#                </a>#}

            </div>
            <div id="demo11" style="padding-right: 225px;float: right"></div>
        </div>
    </div>
</div>
</body>
</html>